itsdangerous==0.24
Werkzeug==0.14.1
appdirs==1.4.3
attrs==19.1.0
cached-property==1.5.1
certifi==2019.3.9
chardet==3.0.4

defusedxml==0.6.0
Flask==1.0.2
Flask-Cors==3.0.7
FullContact.py==0.0.6
idna==2.8
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10.1
lxml==4.6.5
MarkupSafe==1.1.1
mysql-connector-python==8.0.15
nltk==3.4
numpy==1.16.2
opencv-python==4.1.0.25
protobuf==3.7.1
pyodbc==4.0.26
pytz==2019.1
requests==2.21.0
requests-toolbelt==0.9.1
singledispatch==3.4.0.3
six==1.12.0
urllib3==1.24.1
vaderSentiment==3.2.1
Werkzeug==0.15.2
XlsxWriter==1.1.7
zeep==3.3.1
